.result{
  background: #064858;
  border-radius: 30px;
  }
  
.user{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items:center;
  padding: 35px;
}
    
.user .image{
  width:40%;
}
    
.user .image img{
  width: 80%;
  border-radius: 40%;
}
  
.user-info *{
  display: flex;
  padding: 0 0px;
  font-size: 15px;
  height: 25px;
}

.bio{
  font-size: 12px;
  margin: 0 0 10px 0;
}

a{
  background-color: #9efae8;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(35, 134, 134);
}

a:hover{
  background-color:rgb(46, 201, 201);
  box-shadow: rgb(255, 197, 197);
  box-sizing: auto;
}
a:active{
  background-color:rgb(250, 207, 248);
  border-color: rgb(247, 212, 244)
}

.user-info img{
  width: 25px;
  height: 25px;
  opacity: 1;
  margin: 0 5px;
}

.link{
  margin: 8px 0;
}

.repo{
  padding:0 5px;
  margin: 10px 0;
  color: rgb(107, 233, 170);
}