@import url('https://fonts.googleapis.com/css2?family=K2D&family=Prompt:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'K2D', sans-serif;
}

body{
  background: rgb(64, 182, 182);
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.container{
  margin: 20px auto;
  width: 650px;
  color: white
}